<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev.fitface">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".FitFaceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".view.activity.PasscodeActivity" />
        <activity android:name=".view.activity.CollectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.StudentDetailActivity" />
        <activity android:name=".view.activity.CourseDetailActivity" />
        <activity
            android:name=".view.activity.ManualCheckInActivity"
            android:theme="@style/Theme.FitFace"></activity>
        <activity android:name=".view.activity.SplashActivity" />
        <activity
            android:name=".view.activity.AutoCheckInActivity"
            android:theme="@style/Theme.FitFace">

        </activity>
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.MainActivity" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>